<div class="header-frame">
    <div class="logo-frame">
        <img src="./assets/img/Logo.png" alt="DABubble logo">
        <h1>DABubble</h1>
    </div>
    <div class="search-frame">
        <input type="text" placeholder="Code learning durchsuchen">
        <mat-icon fontIcon="search"></mat-icon>
    </div>
    <div class="user-frame">
        <span class="current-user-name" id="current-user-name">Frederik Beck</span>
        <img id="current-user-img" src="#" alt="image of user">
        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
</div>