.header-frame {
  background: rgb(236, 238, 254);
  padding: 30px 16px;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  input {
    border: none;
    border-radius: 25px;
    width: 48%;
    margin-left: -80px;
    &::placeholder{
      font-size: 20px;
      padding-left: 32px;
    }
  }
  img {
    height: 65px;
  }
}
