.header-frame {
  background: rgb(236, 238, 254);
  padding: 30px 16px;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  input {
    border: none;
    border-radius: 25px;
    width: 90%;
    height: 95%;
    
    cursor: pointer;
    &::placeholder{
      font-size: 20px;
      padding-left: 32px;
    }
  }
  img {
    height: 65px;
    margin-left: 16px;
  }
}

.current-user-name{
    font-size: 24px;
    &:hover{
        color: blue;
    }
}

.search-frame{
    display: flex;
    justify-content: space-between;
    width: 48%;
    background: white;
    border-radius: 25px;
    
    mat-icon{
        margin-right: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 28px;
    }
}


