<div class="content-head">
    <button>
        <span id="selected-recipient" class="selectedInterloctor">{{ selectedRecipient }}</span>
        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
    </button>
</div>
<div class="content-frame">
    <div class="message-content" id="message-content">
    </div>
</div>
<div class="message-container">
    <div class="message-frame">
        <div class="input-frame">
            <textarea id="textarea" [(ngModel)]="message" placeholder="" name="Nachricht" cols="37"
                rows="9"></textarea>
        </div>
        <div class="icon-container">
            <div class="icon-left">
                <div class="icon-div">
                    <mat-icon class="mat-icons" fontIcon="add"></mat-icon>
                </div>
                <div class="icon-div">
                    <mat-icon class="mat-icons" fontIcon="sentiment_satisfied"></mat-icon>
                </div>
                <div class="icon-div">
                    <mat-icon class="mat-icons" fontIcon="alternate_email"></mat-icon>
                </div>
            </div>
            <div class="icon-right">
                <img (click)="postChat()" class="submit-arrow" src="./assets/img/Send icon.png" alt="submit arrow">
            </div>
        </div>
    </div>
</div>
