* {
  scroll-behavior: smooth;
}

.content-head {
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 7px 5px -4px rgba(0, 0, 0, 0.2);

  p {
    margin-left: 12px;
    margin-right: 16px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
  }
  span {
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito, sans-serif !important;
  }
  button {
    height: 70%;
    min-width: 35%;
    border: none;
    border-radius: 25px;
    background: white;
    display: flex;
    align-items: center;
    margin-left: 32px;
    padding: 8px;
    cursor: pointer;
    background: rgb(236, 238, 254);
    color: rgb(68, 77, 242);
  }

  mat-icon {
    margin-left: 16px;
  }
}

.channel-members {
  margin-right: 32px;
  display: flex;
  align-items: center;
  .members {
    display: flex;
    align-items: center;
    img {
      margin-left: -15px;
      border-radius: 100%;
    object-fit: contain;
    height: 50px;
    }
  }
  mat-icon {
    background: rgb(236, 238, 254);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      color: rgb(68, 77, 242);
    }
  }
}

.message-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
}

.message-answers-frame {
  gap: 8px;
  display: flex;
  padding: 10px;
  .date-answers {
    font-size: 10px;
    color: #6e6e6e;
  }
}

.message-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  .input-frame {
    display: flex;
    justify-content: center;

    textarea {
      padding-top: 16px;
      padding-left: 16px;
      border: none;
      resize: none;
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    input {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 25px;
      height: 120px;
      width: 90%;
      border: none;
      background-color: white;
      &::placeholder {
        margin-top: -50px;
        color: red;
      }
    }
    .icon-container {
      height: 30px;
      width: 40%;
      z-index: 99;
    }
  }
}

.mat-icons {
  cursor: pointer;
  &:hover {
    color: rgb(68, 77, 242);
  }
}

.content-frame {
  position: relative;
  padding: 32px;
  height: 56.5vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(68, 77, 242) transparent;
  .empty-channel {
    position: absolute;
    bottom: 0;
  }
}

.content-frame::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.content-frame::-webkit-scrollbar-thumb {
  background-color: rgb(68, 77, 242);
  border-radius: 5px;
}

.thread-frame {
  width: 25%;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.icon-left {
  margin-left: 24px;
  display: flex;
}

.icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 16px;
  &:hover {
    background: rgb(236, 238, 254);
  }
}

.icon-right {
  margin-right: 24px;
}

.submit-arrow {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.sent-message {
  min-width: 350px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  color: black;
  padding: 16px 16px 0px 16px;
  margin-top: 8px;
  text-align: end;
  white-space: pre-line;
  word-wrap: break-word;

  .message-channel-frame {
    width: fit-content;
    max-width: 55%;
    color: white;
    background: rgb(121, 126, 243);
    border: none;
    border-radius: 25px 0 25px 25px;
    padding: 10px;
  }
  .message-sender {
    font-weight: 700;
    margin-right: 8px;
  }

  .name-and-date {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.sent{
  display: flex;
  justify-content: flex-end;
  b{
    margin-right: 8px;
  }
}
.recieved{
  display: flex;
  justify-content: flex-start;
  .date{
    margin-left: 8px;
  }
}

.sent-name-avatar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  img {
    border-radius: 100%;
    object-fit: contain;
    height: 70px;
  }
  .message-sender {
    font-weight: 700;
    margin-right: 8px;
  }
  .name-hour {
    display: flex;
    justify-content: flex-end;
  }
}

.recieved-message {
  min-width: 350px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px 16px;
  margin-top: 8px;
  text-align: start;
  width: fit-content;
  white-space: pre-line;
  word-wrap: break-word;
  .message-channel-frame {
    width: fit-content;
    max-width: 55%;
    background: rgb(236, 238, 254);
    border-radius: 0 25px 25px 25px;
    padding: 10px;
  }
}

.recieved-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.sent-container {
  margin-bottom: 16px;
}

.recieved-name-avatar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  img {
    border-radius: 100%;

    object-fit: contain;
    height: 70px;
  }
  .message-sender {
    font-weight: 700;
    margin-right: 8px;
  }
}

.number-answers {
  color: rgb(68, 77, 242);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.day-of-message {
  display: flex;
}

.line-left,
.line-right {
  height: 1px;
  width: 40%;
  background: rgb(173, 176, 217);
  margin-top: 16px;
}

.day-frame {
  border: 1px solid rgb(173, 176, 217);
  border-radius: 25px;
  padding: 8px 16px;
}

.chat-icon-frame {
  display: flex;
  visibility: hidden;
  background: white;
}

.emojis-container {
  width: 520px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  bottom: 64px;
  background: white;
  overflow-y: scroll;
  height: 190px;
  padding-left: 32px;
  padding-right: 6px;
  z-index: 9;
}

.emojis-container::-webkit-scrollbar {
  padding-left: 8px;
  width: 8px;
  background-color: transparent;
}

.emojis-container::-webkit-scrollbar-thumb {
  background-color: rgb(68, 77, 242);
  border-radius: 5px;
}

.selected-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
  &:hover {
    background-color: #d0d0d0;
  }
}

.emojis-reaction-container,
.emojis-channel-container {
  visibility: hidden;
  background: rgb(236, 238, 254);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  position: absolute;
  padding: 12px;
  border-radius: 25px 25px 25px 25px;
  z-index: 99;
  overflow-y: scroll;
  height: 130px;
  width: 200px;
}
.emojis-reaction-container::-webkit-scrollbar,
.emojis-channel-container::-webkit-scrollbar {
  padding-left: 0px;
  width: 0px;
  background-color: transparent;
}

.emojis-reaction-container::-webkit-scrollbar-thumb,
.emojis-channel-container::-webkit-scrollbar-thumb {
  background: rgba(68, 77, 242, 0);
  border-radius: 0px;
}

.selected-reaction-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  &:hover {
    background-color: #d0d0d0;
  }
}

.emoji-outer {
  height: 100vh;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.emoji-reaction-outer,
.emoji-channel-outer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.emoji-reaction-outer{
  display: flex;
  justify-content: center;
}

.reaction-emojis-sender {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  .emoji {
    display: flex;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 25px;
    padding: 6px 8px;
    .popup-who-reacted-container{
      position: absolute;
      bottom: 32px;
      right: 40px;
      background: rgb(68, 77, 242);
      color: white;
      padding: 12px;
      border: none;
      border-radius: 25px 25px 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      .reaction-emoji{
        font-size: 24px;
        padding-bottom: 8px;
      }
      .has-reacted{
        font-size: 12px;
      }
    }
  }
}

.reaction-emojis-recieved {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  .emoji {
    position: relative;
    display: flex;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 25px;
    padding: 6px 8px;
    .popup-who-reacted-container{
      position: absolute;
      bottom: 32px;
      right: 0;
      left: 40px;
      background: rgb(68, 77, 242);
      color: white;
      padding: 12px;
      border: none;
      border-radius: 25px 25px 25px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      .reaction-emoji{
        font-size: 24px;
        padding-bottom: 8px;
      }
      .has-reacted{
        font-size: 12px;
      }
    }
  }
}

.emoji {
  position: relative;
}

.chat-icon-frame2{
  visibility: hidden;
}


@media (max-height: 800px) {
  .message-frame {
    .input-frame {
      height: 120px;
    }
  }
  .content-frame{
    height: 40vh;
  }
}


@media (min-height: 400px) {
  .content-frame{
    height:79vh;
  }
}

@media (max-width: 1060px) {

  .recieved-message, .sent-message {
    width: max-content;
    .message-channel-frame{
      max-width: 40%;
    }
  }

  .content-frame {
    overflow-x: hidden;
  }
  
}