* {
  scroll-behavior: smooth;
}

.content-head {
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 7px 5px -4px rgba(0, 0, 0, 0.2);

  p {
    margin-left: 12px;
    margin-right: 16px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
  }
  span {
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito, sans-serif !important;
    padding-left: 16px;
  }
  button {
    height: 70%;
    min-width: 35%;
    border: none;
    border-radius: 25px;
    background: white;
    display: flex;
    align-items: center;
    margin-left: 32px;
    padding: 8px;
    cursor: pointer;
    background: rgb(236, 238, 254);
    color: rgb(68, 77, 242);
  }

  mat-icon {
    margin-left: 16px;
  }
}

.channel-members {
  margin-right: 32px;
  display: flex;
  align-items: center;
  .members {
    display: flex;
    align-items: center;
    img {
      margin-left: -25px;
    }
  }
  mat-icon {
    background: rgb(236, 238, 254);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      color: rgb(68, 77, 242);
    }
  }
}

.message-container {
  display: flex;
  justify-content: center;
}

.message-frame {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
  position: fixed;
  bottom: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  .input-frame {
    display: flex;
    justify-content: center;

    textarea {
      padding-top: 16px;
      padding-left: 16px;
      border: none;
      resize: none;
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    input {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 25px;
      height: 120px;
      width: 90%;
      border: none;
      background-color: white;
      &::placeholder {
        margin-top: -50px;
        color: red;
      }
    }
    .icon-container {
      height: 30px;
      width: 40%;
      z-index: 99;
    }
  }
}

.mat-icons {
  cursor: pointer;
  &:hover {
    color: rgb(68, 77, 242);
  }
}

.content-frame {
  padding: 32px;
  height: 56vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(68, 77, 242) transparent;
}

.content-frame::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; /* Hintergrundfarbe der Scrollleiste */
}

.content-frame::-webkit-scrollbar-thumb {
  background-color: rgb(68, 77, 242); /* Farbe des Scrollbalken-Thumb */
  border-radius: 5px; /* Abrundung des Scrollbalken-Thumb */
}

.thread-frame {
  width: 25%;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.icon-left {
  margin-left: 24px;
  display: flex;
}

.icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 16px;
  &:hover {
    background: rgb(236, 238, 254);
  }
}

.icon-right {
  margin-right: 24px;
}

.submit-arrow {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.sent-message {
  min-width: 40px;
  display: flex;
  flex-direction: column;
  border: none;
  background: rgb(121, 126, 243);
  color: white;
  border-radius: 25px 0px 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: end;
  width: fit-content;
  .message-sender{
    font-weight: 700;
    margin-right: 8px;
  }
}

.sent-name-avatar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  img {
    object-fit: contain;
  }
  .message-sender{
    font-weight: 700;
    margin-right: 8px;
  }
  .name-hour{
    display: flex;
    justify-content: flex-end;
  }
}

.recieved-message {
  min-width: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0 25px 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: start;
  width: fit-content;
}

.recieved-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.sent-container {
  margin-bottom: 16px;
}

.recieved-name-avatar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  img {
    object-fit: contain;
  }
  .message-sender{
    font-weight: 700;
    margin-right: 8px;
  }
}

.number-answers {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.day-of-message{
  display:flex;
}

.line-left, .line-right{
  height: 1px;
  width: 40%;
  background: rgb(173, 176, 217);
  margin-top: 16px;
}

.day-frame{
  border: 1px solid rgb(173, 176, 217);
  border-radius: 25px;
  padding: 8px 16px;
}

.chat-icon-frame {
  display: flex;
  visibility: hidden;
  background: white;
}

.emojis-container{
  width: 400px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  bottom: 235px;
  border: 1px solid black;
  border-radius: 25px 25px 0 25px;
  background: white;
}

.selected-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  &:hover {
      background-color: #d0d0d0;
  }
}

.emojis-reaction-container{
  width: 58%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  border: 1px solid black;
  border-radius: 25px 0 25px 25px;
  background: white;
  z-index: 99;
}

.selected-reaction-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  &:hover {
      background-color: #d0d0d0;
  }
}

.emoji-outer {
  height: 100vh;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.emoji-reaction-outer {
  position: relative;
  width: 100%;
  bottom: 0;
}


@media (max-height: 800px) {
  .message-frame{
    .input-frame{
      height: 120px;
    }
  }
}
