<div class="thread-frame">
  <div class="thread">
    <div class="thread-head">
      <div class="thread-text">
        <span>Thread</span>
        <p class="thread-blue c-blue">{{ channel }}</p>
      </div>
      <div (click)="closeThread()">
        <mat-icon fontIcon="close"></mat-icon>
      </div>
    </div>
    <div class="thread-content">
      <div class="thread-answer-frame">
        <img class="message-img" src="{{ relevantAnswers[0].avatar }}" alt>
        <div>
          <div class="name-hour">
            <span class="sender-message">{{ relevantAnswers[0].sender }}</span>
            <span>{{relevantAnswers[0].timeStamp *1000| date:
              'HH:mm'}} Uhr</span>
          </div>
          <span class="answer-message">{{ relevantAnswers[0].message }}</span>
        </div>
      </div>
      <hr>
      <div *ngFor="let answer of relevantAnswers[0].answers">
        <ng-container>
          <div [class.sent-container]="answer.sender === loggedUser.name"
            [class.recieved-container]="answer.sender !== loggedUser.name">
            <div [class.sent-name-avatar]="answer.sender === loggedUser.name"
              [class.recieved-name-avatar]="answer.sender !== loggedUser.name">
              <div><span>{{ answer.sender }}</span>
                <div [class.sent-message]="answer.sender === loggedUser.name"
                  [class.recieved-message]="answer.sender !== loggedUser.name">
                  <span class="date">{{ answer.timeStamp*1000| date:
                    'dd.MM.yyyy HH:mm' }}</span>
                  <span>{{ answer.message }}</span>
                </div>
              </div>
              <img class="avatar" src={{answer.avatar}}>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="message-container">
      <div class="message-frame">
        <textarea [(ngModel)]="message" name="" id="" cols="30" rows="9" placeholder="Antworten"></textarea>
        <div class="icon-container">
          <div class="icon-left">
            <div class="icon-div">
              <mat-icon class="mat-icons" fontIcon="add"></mat-icon>
            </div>
            <div class="icon-div">
              <mat-icon class="mat-icons" fontIcon="sentiment_satisfied"></mat-icon>
            </div>
            <div class="icon-div">
              <mat-icon class="mat-icons" fontIcon="alternate_email"></mat-icon>
            </div>
          </div>
          <div class="icon-right">
            <img (click)="postAnswer()" class="submit-arrow" src="./assets/img/Send icon.png" alt="submit arrow">
          </div>

        </div>
      </div>
    </div>
  </div>