.thread-frame {
  width: 100%;
  display: flex;
}

.thread {
  width: 100%;
  min-height: 87vh;
  max-height: 90vh;
  background: white;
  border-radius: 25px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  span {
    margin-left: 16px;
  }
  .thread-blue {
    font-size: 12px;
    font-weight: 500;
    padding-left: 16px;
    padding-top: 10px;
  }
}

.thread-text {
  display: flex;
  align-items: center;
}

.thread-head {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  max-height: 80px;
  flex: 1;
  width: 100%;
  align-items: center;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 7px 5px -4px rgba(0, 0, 0, 0.2);
  mat-icon {
    margin-right: 16px;
    cursor: pointer;
  }
}

.thread-content{
  margin-bottom: 32px;
}

.sent-message {
  display: flex;
  flex-direction: column;
  border: none;
  background: rgb(121, 126, 243);
  color: white;
  border-radius: 25px 0px 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: end;
  width: fit-content;
  white-space: pre-line;
}

.sent-name-avatar {
  display: flex;
  justify-content: flex-end;
  img {
    object-fit: contain;
  }
}

.recieved-message {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 25px 0 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: start;
  width: fit-content;
  white-space: pre-line;
}

.recieved-container {
  display: flex;
  justify-content: flex-end;
}

.recieved-name-avatar {
  display: flex;
  flex-direction: row-reverse;
  img {
    object-fit: contain;
  }
}

.sent-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.thread-answer-frame{
display: flex;
margin-bottom: 24px;

.answer-message{
  padding: 16px;
  background: rgb(236, 238, 254);
  border-radius: 0 25px 25px 25px;
}

}

hr{
  margin-bottom: 32px;
}

.name-hour{
  margin-bottom: 8px;
}

.message-img{
height: 64px;
width: 64px;
border-radius: 100%;
object-fit: contain;
height: 63px;
}

.message-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 32px;
  bottom: 35px;
}

.message-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  .input-frame {
    display: flex;
    justify-content: center;

  }
}

.sender-message{
  font-weight: 700;
  margin-bottom: 16px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 36px;
  z-index: 99;
  padding-bottom: 10px;
}

.icon-left{
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.icon-right{
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.icon-div{
  padding-top: 6px;
  padding-right: 8px;
}

textarea {
  padding-top: 16px;
  padding-left: 16px;
  border: none;
  resize: none;
  width: 93.4%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.submit-arrow{
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.mat-icons {
  cursor: pointer;
  &:hover {
    color: rgb(68, 77, 242);
  }
}

.number-of-answers{
  display: flex;
  color: rgb(173, 176, 217);
  margin-bottom: 16px;
  .line{
    height: 1px;
    width: 50%;
    background: rgb(173, 176, 217);
    margin-top: 9px;
  }
}

.avatar-and-message{
  display: flex;
  align-items: center;
  img {
    border-radius: 100%;
    object-fit: contain;
    height: 63px;
  }
}

.right-of-avatar{
  display: flex;
  flex-direction: column;
}

.content-frame {
  padding: 32px;
  height: 63vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(68, 77, 242) transparent;
}

.content-frame::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; /* Hintergrundfarbe der Scrollleiste */
}

.content-frame::-webkit-scrollbar-thumb {
  background-color: rgb(68, 77, 242); /* Farbe des Scrollbalken-Thumb */
  border-radius: 5px; /* Abrundung des Scrollbalken-Thumb */
}

.emojis-container{
  width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  bottom: 220px;
  left: 24px;
  background: white;
  height: 200px;
  z-index: 9;
  overflow-y: scroll;
}

.selected-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  &:hover {
      background-color: #d0d0d0;
  }
}

.emoji-outer {
  height: 100vh;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.emoji-channel-outer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.emojis-thread-container {
  //visibility: hidden;
  background: rgb(236, 238, 254);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  position: absolute;
  padding: 12px;
  border-radius: 25px 25px 25px 25px;
  z-index: 99;
  overflow-y: scroll;
  height: 130px;
  width: 178px;
}

.single-thread-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  &:hover {
    background-color: #d0d0d0;
  }
}

.emojis-thread-container::-webkit-scrollbar {
  padding-left: 0px;
  width: 0px;
  background-color: transparent;
}

.emojis-thread-container::-webkit-scrollbar-thumb {
  background: rgba(68, 77, 242, 0);
  border-radius: 0px;
}

.emoji {
  cursor: pointer;
  border: solid 1px black;
  border-radius: 25px;
  width: fit-content;
  padding: 6px 8px;
  span {
    margin: 0;
  }
  &:hover {
    opacity: 0.8;
  }
}

@media (max-height: 800px) {
  .message-frame{
      height: 165px;
  }
}

@media (max-width: 1520px) {
  .name-hour{
    display: flex;
    flex-direction: column-reverse;
    padding-right: 8px;
  }

  .sender-message{
    margin-bottom: 0;
  }

}


@media (max-width: 1410px) {
  textarea {
    width: 90%;
  } 
}