.thread-frame {
  width: 100%;
  display: flex;
}

.thread {
  width: 100%;
  min-height: 87vh;
  background: white;
  border-radius: 25px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  span {
    margin-left: 16px;
  }
  .thread-blue {
    font-size: 12px;
    font-weight: 500;
    padding-left: 16px;
    padding-top: 10px;
  }
}

.thread-text {
  display: flex;
  align-items: center;
}

.thread-head {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  max-height: 80px;
  flex: 1;
  width: 100%;
  align-items: center;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 7px 5px -4px rgba(0, 0, 0, 0.2);
  mat-icon {
    margin-right: 16px;
    cursor: pointer;
  }
}

.thread-content{
  margin: 32px;
}

.sent-message {
  display: flex;
  flex-direction: column;
  border: none;
  background: rgb(121, 126, 243);
  color: white;
  border-radius: 25px 0px 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: end;
  width: fit-content;
}

.sent-name-avatar {
  display: flex;
  justify-content: flex-end;
  img {
    object-fit: contain;
  }
}

.recieved-message {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0 25px 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: start;
  width: fit-content;
}

.recieved-container {
  display: flex;
  justify-content: flex-start;
}

.recieved-name-avatar {
  display: flex;
  flex-direction: row-reverse;
  img {
    object-fit: contain;
  }
}

.sent-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
}

.thread-answer-frame{
display: flex;
margin-bottom: 32px;

.sender-message{
  font-weight: 700;
  margin-bottom: 16px;
}

.answer-message{
  padding: 16px;
  background: rgb(236, 238, 254);
  border-radius: 0 25px 25px 25px;
}

}

hr{
  margin-bottom: 32px;
}

.name-hour{
  margin-bottom: 24px;
}

.message-img{
height: 64px;
width: 64px;
}

.message-container {
  display: flex;
  justify-content: center;
}

.message-frame {
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
  position: fixed;
  bottom: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  .input-frame {
    display: flex;
    justify-content: center;
   
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  z-index: 99;
}

.icon-left{
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.icon-right{
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.icon-div{
  padding-top: 6px;
  padding-right: 8px;
}

textarea {
  padding-top: 16px;
  padding-left: 16px;
  border: none;
  resize: none;
  width: 93.4%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}