.thread-frame {
  width: 100%;
  display: flex;
}

.thread {
  width: 100%;
  min-height: 87vh;
  background: white;
  border-radius: 25px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  span {
    margin-left: 16px;
  }
  .thread-blue {
    font-size: 12px;
    font-weight: 500;
    padding-left: 16px;
    padding-top: 10px;
  }
}

.thread-text {
  display: flex;
  align-items: center;
}

.thread-head {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  max-height: 80px;
  flex: 1;
  width: 100%;
  align-items: center;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 7px 5px -4px rgba(0, 0, 0, 0.2);
  mat-icon {
    margin-right: 16px;
    cursor: pointer;
  }
}

.sent-message {
  display: flex;
  flex-direction: column;
  border: none;
  background: rgb(121, 126, 243);
  color: white;
  border-radius: 25px 0px 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: end;
  width: fit-content;
}

.sent-name-avatar {
  display: flex;
  justify-content: flex-end;
  img {
    object-fit: contain;
  }
}

.recieved-message {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0 25px 25px 25px;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: start;
  width: fit-content;
}

.recieved-container {
  display: flex;
  justify-content: flex-start;
}

.recieved-name-avatar {
  display: flex;
  flex-direction: row-reverse;
  img {
    object-fit: contain;
  }
}

.sent-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
}
