<div *ngIf="threadOpened" class="thread-frame">
  <div class="thread">
    <div class="thread-head">
      <div class="thread-text">
        <span>Thread</span>
        <p class="thread-blue c-blue"># {{ selectedChannel.name }}</p>
      </div>
      <div (click)="closeThread()">
        <mat-icon fontIcon="close"></mat-icon>
      </div>
    </div>
    <div class="content-frame" id="content-frame-thread">
      <div class="thread-content">
        <div class="thread-answer-frame">
          <div>
            <div class="avatar-and-message">
              <div>
                <div class="chat-icon-frame" id="chat-icon-frame">
                  <mat-icon class="mat-icons" fontIcon="sentiment_satisfied"></mat-icon>
                </div>
              </div>
              <img class="message-img" src="{{chatAvatar}}" alt>
              <div class="right-of-avatar">
                <div class="name-hour">
                  <span class="sender-message">{{chatSender}}</span>
                  <span>{{chatTimeStamp *1000| date:
                    'HH:mm'}} Uhr</span>
                </div>
                <span class="answer-message">{{ chatQuestion }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="number-of-answers">
        <span>{{ answersLength }} Antwort(en)</span>
        <div class="line"></div>
      </div>
      <div *ngFor="let answer of answerCollection$ |async; let i = index">
        <div class="thread-content">
          <ng-container>
            <div [class.sent-container]="answer.sender === loggedUser.name"
              [class.recieved-container]="answer.sender !== loggedUser.name">
              <div [class.sent-name-avatar]="answer.sender === loggedUser.name"
                [class.recieved-name-avatar]="answer.sender !== loggedUser.name">
                <div>
                  <div class="name-hour">
                    <span class="sender-message">{{ answer.sender }}</span>
                    <span class="date">{{ answer.timeStamp*1000| date:
                      'HH:mm' }} Uhr</span>
                  </div>
                  <div [class.sent-message]="answer.sender === loggedUser.name"
                    [class.recieved-message]="answer.sender !== loggedUser.name">
                    <span>{{ answer.message }}</span>
                  </div>
                </div>
              </div>
              <img class="message-img" src={{answer.avatar}}>
              <div>
                <div class="chat-icon-frame" id="chat-icon-frame{{i}}">
                  <mat-icon (click)="deleteAnswer(answer, chatId)" *ngIf="loggedUser.name == answer.sender"
                    class="mat-icons" fontIcon="delete"></mat-icon>
                  <mat-icon class="mat-icons" fontIcon="sentiment_satisfied"
                    (click)="openEmojisThreadContainer(i)"></mat-icon>
                </div>
              </div>
            </div>
            <div class="emoji" *ngFor="let reaction of answer.reactions">
              <span>{{reaction.emoji}}</span>
              <span>{{reaction.counter}}</span>
            </div>
            <div *ngIf="emojisThreadContainerVisible[i]" class="emoji-channel-outer" id="emoji-channel-outer"
              (click)="closeEmojisThreadContainer(i)">
              <div class="emojis-thread-container" id="emojis-thread-container{{i}}">
                <div *ngFor="let emoji of emojis">
                  <div (click)="emojiReaction(emoji, answer)" class="single-thread-emoji" [innerHTML]="emoji"
                    style="width: 16px; height: 16px;"></div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="message-container">
      <div class="message-frame">
        <textarea [(ngModel)]="message" name="message" id="message" cols="30" rows="9"
          placeholder="Antworten"></textarea>
        <div class="icon-container">
          <div class="icon-left">
            <!-- <div class="icon-div">
              <mat-icon class="mat-icons" fontIcon="add"></mat-icon>
            </div> -->
            <div class="emojis" class="icon-div" (click)="openDialogShowEmojis()">
              <mat-icon class="mat-icons" fontIcon="sentiment_satisfied"></mat-icon>
            </div>
            <!-- <div class="icon-div">
              <mat-icon class="mat-icons" fontIcon="alternate_email"></mat-icon>
            </div> -->
          </div>
          <div class="icon-right">
            <img (click)="postAnswer()" class="submit-arrow" src="./assets/img/Send icon.png" alt="submit arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="emojisContainerVisible" class="emoji-outer" id="emoji-outer" (click)="closeDialogEmoji()">
  <div class="emojis-container" id="emojis-container">
    <div *ngFor="let emoji of emojis" (click)="emojiSelected(emoji)">
      <div class="selected-emoji" [innerHTML]="emoji" style="width: 16px; height: 16px;"></div>
    </div>
  </div>
</div>