<div class="login-frame">
    <mat-card>
        <mat-card-content>
            <h1 class="c-blue login-h1">Anmeldung</h1>
            <div class="login-head">
                <span class="recommendation fw-400">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei deiner Arbeit verwendest.</span>
                <div class="input-frame">
                    <mat-icon fontIcon="email"></mat-icon>
                    <input [(ngModel)]="loginData.email" type="email" required placeholder="beispielname@email.com">
                </div>
                <div class="input-frame">
                    <mat-icon fontIcon="lock"></mat-icon>
                    <input [(ngModel)]="loginData.password" required type="password" placeholder="Passwort">
                </div>
                <span class="forgot-password fw-400">Passwort vergessen?</span>
            </div>
            <div class="or-container">
                <div class="line"></div>
                <p class="fw-400">ODER</p>
                <div class="line"></div>
            </div>
            <div id="google-login" class="button-container">
                <a (click)="loginGoogle()" href="#" class="google-btn c-blue">
                    <img class="google-logo" src="./assets/img/Google.png" alt="Google logo">
                    <p class="login-with-google">Anmelden mit Google</p>
                </a>
                <div class="login-btn">
                    <a (click)="logIn()" class="login bg-blue fz-16-fw-700">Anmelden</a>
                    <a routerLink="/board" class="guest-login c-blue fz-16-fw-700"> Gäste-Login</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <span class=" new fw-400">Neu bei DABubble?</span>
    <a routerLink="/registration" class="create-account c-blue fz-16-fw-700">Konto erstellen</a>
</div>
