.main-div {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(98, 105, 239);

  img {
    height: 72px;
  }
}

.login-frame {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(236, 238, 254);
  height: calc(100vh - 120px);

  mat-card {
    width: 90%;
    max-width: 500px;
    height: 62vh;
    border-radius: 25px;
    margin-bottom: 16px;

  }

  h1 {
    font-size: 32px;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    text-align: center;
  }
}

#wrong {
  color: red;
  font-weight: 500;
}

.login-head {
  display: flex;
  flex-direction: column;

  .recommendation {
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
  }

  input {
    border: none;
    border-radius: 25px;
    background: rgb(236, 238, 254);
    margin-left: 8px;
    width: 100%;
    height: 28px;
    cursor: pointer;
  }

  .input-frame {
    display: flex;
    align-items: center;
    background: rgb(236, 238, 254);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 25px;
  }

  mat-icon {
    color: rgba(0, 0, 0, 0.5);
  }

  .forgot-password {
    text-align: center;
    margin-top: 16px;
  }
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 40%;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
  }

  p {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .google-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 25px;
    width: 92%;
    background: rgb(236, 238, 254);
    padding: 8px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    max-width: 300px;
  }

  .google-logo {
    margin-top: 0;
    margin-bottom: 0;
    height: 32px;
  }

  .login-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .guest-login,
  .login {
    width: 37%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .login {
    color: white;
    border: none;
    padding: 8px;
  }

  .guest-login {
    border: 1px solid rgb(68, 77, 242);
    background: white;
    padding: 6px;
  }
}

.create-account {
  border: 1px solid rgb(68, 77, 242);
  background: rgb(236, 238, 254);
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 25px;
  z-index: 99;
}

.login-nav {
  background: black;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 25px;
  width: 20%;
}

a {
  font-family: Nunito, "Helvetica Neue", sans-serif;
  z-index: 9;
}

.registration-frame {
  margin-top: 32px;

  span {
    padding-right: 16px;
  }
}

@media (min-height: 800px) {
  .login-frame {
    mat-card {
      margin-top: 36px;
      height: 65vh;
    }
  }

  .login-head {
    .input-frame {
      margin-bottom: 24px;
    }

    input {
      margin-top: 6px;
      margin-left: 16px;
      height: 40px;

      &::placeholder {
        font-size: 20px;
      }
    }

    .forgot-password {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  .or-container {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .material-icons {
    font-size: 28px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .button-container {
    .google-btn {
      margin-top: 6px;
      margin-left: 16px;
      height: 40px;
    }

    .google-logo {
      height: 40px;
    }

    .login-with-google {
      margin-top: 14px;
      margin-right: 16px;
      font-size: 20px;
    }

    .login-btn {
      margin-top: 16px;
    }

    .login {
      padding: 16px;
      font-size: 20px;
    }

    .guest-login {
      padding: 14px;
      font-size: 20px;
    }
  }

  .new {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
  }

  .create-account {
    font-size: 20px;
    padding: 16px;
  }
}

@media (min-width: 500px) {
  .login-head {
    .recommendation {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  .login-frame {
    h1 {
      font-size: 40px;
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}

@media (max-height: 800px) {

  .login-frame {
    mat-card {
      height: 520px;
    }
  }

  .login-btn{
    margin-top: 10px;
  }

  .button-container{

    .google-btn{
      margin-top: 8px;
    }

    .guest-login{
      padding: 14px;
    }

    .login{
      padding: 16px;
    }
  }

  .login-with-google{
    padding-top: 10px;
  }

  .registration-frame{
    margin-top: 24px;
  }
}
