.main-div{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(98, 105, 239);
    img{
        height: 72px;
    }
}

.login-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(236, 238, 254);
    height: 100vh;
    img{
        margin-top: 48px;
        margin-bottom: 16px;
        height: 64px;
    }
    mat-card{
        width: 90%;
        height: 65vh;
        border-radius: 25px;
        margin-bottom: 16px;
    }
    h1{
        font-size: 32px;
        font-family: Nunito, sans-serif;
        font-weight: 700;
        text-align: center;
    }
}

.login-head{
    display: flex;
    flex-direction: column;

.recommendation{
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
}

    input{
        border: none;
        border-radius: 25px;
        background: rgb(236, 238, 254);
        margin-left: 8px;
    }

    .input-frame{
        display: flex;
        align-items: center;
        background: rgb(236, 238, 254);
        margin-bottom: 8px;
        padding: 8px;
        border-radius: 25px;
    }

    mat-icon{
        color: rgba(0, 0, 0, .5);
    }
    .forgot-password{
        text-align: center;
        margin-top: 16px;
    }

}

.or-container{
    display: flex;
    align-items: center;
    .line{
        width: 40%;
        height: 2px;
        background: rgba(0, 0, 0, .2);
    }
    p{
        margin-top: 16px;
        margin-left: 8px;
        margin-right: 8px;
    }
}

.button-container{
    .google-btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: none;
        border-radius: 25px;
        width: 100%;
        background: rgb(236, 238, 254);
        padding: 8px;
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 400;
    }

    .google-logo{ 
        margin-top: 0;
        margin-bottom: 0;
        height: 32px;
    }

    .login-btn{
        display: flex;
        justify-content: space-around;
    }

    .guest-login, .login{
        width: 45%;
        border-radius: 25px;
    }

    .login{
        color: white;
        border: none;
        padding: 8px;
    }

    .guest-login{
        border: 1px solid rgb(68, 77, 242);
        background: white;
        padding: 6px
    }
}

.create-account{
    border: 1px solid rgb(68, 77, 242);
    background: rgb(236, 238, 254);
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 25px;
}

.login-nav{
    background: black;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 25px;
    width: 20%;
}