.da-bubble-container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: rgb(68, 77, 242);
  z-index: 99;
  animation: animate-logo-container 1s 2s forwards ;
  transition: 115ms;
  h1 {
    margin-top: 32px;
    margin-left: 12px;
    font-size: 28px;
    color: white;
    transform: translateX(-104%);
    visibility: hidden;
    animation: slide-text 1.6s 0.4s forwards, change-font-color 1s 2s forwards;
    transition: all 115ms ease-in-out;
    z-index: -1;
  }
}

@keyframes animate-logo-container {
  to {
    background: rgba(0, 0, 0, 0);
    z-index: 0;
  }
}

@keyframes change-font-color {
  to {
    color: black;
  }
}

@keyframes slide-text {
  50% {
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}

.da-bubble-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 43vh);
  animation: animate-mobile-logo 1s 2s forwards;
  transition: 115ms;
  z-index: 99;

  .logo-container {
    background: rgba(68, 77, 242, 0);
  }

  img {
    margin-top: 48px;
    margin-bottom: 16px;
    height: 48px;
    transform: translateX(80px);
    animation: logo-slide 1s 0.5s forwards;
  }
}

@keyframes logo-slide {
  to {
    transform: translateX(0);
  }
}

@keyframes animate-mobile-logo {
  to {
    transform: translate(0, 0);
    z-index: 99;
  }
}

.main-div {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(98, 105, 239);
  img {
    height: 72px;
  }
}

.login-frame {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(236, 238, 254);
  height: 100vh;
  mat-card {
    width: 90%;
    height: 62vh;
    border-radius: 25px;
    margin-bottom: 16px;
  }
  h1 {
    font-size: 32px;
    font-family: Nunito, sans-serif;
    font-weight: 700;
    text-align: center;
  }
}

.login-head {
  display: flex;
  flex-direction: column;

  .recommendation {
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
  }

  input {
    border: none;
    border-radius: 25px;
    background: rgb(236, 238, 254);
    margin-left: 8px;
    width: 100%;
    height: 28px;
  }

  .input-frame {
    display: flex;
    align-items: center;
    background: rgb(236, 238, 254);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 25px;
  }

  mat-icon {
    color: rgba(0, 0, 0, 0.5);
  }
  .forgot-password {
    text-align: center;
    margin-top: 16px;
  }
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .line {
    width: 40%;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
  }
  p {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 25px;
    width: 92%;
    background: rgb(236, 238, 254);
    padding: 8px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    max-width: 300px;
  }

  .google-logo {
    margin-top: 0;
    margin-bottom: 0;
    height: 32px;
  }

  .login-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .guest-login,
  .login {
    width: 37%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
  }

  .login {
    color: white;
    border: none;
    padding: 8px;
  }

  .guest-login {
    border: 1px solid rgb(68, 77, 242);
    background: white;
    padding: 6px;
  }
}

.create-account {
  border: 1px solid rgb(68, 77, 242);
  background: rgb(236, 238, 254);
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 25px;
}

.login-nav {
  background: black;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 25px;
  width: 20%;
}

a {
  font-family: Nunito, "Helvetica Neue", sans-serif;
  z-index: 9;
}
