<!-- <div class="main-div">
  <img src="./assets/img/Logo.png" alt="DA-Bubble logo">
</div> -->
<div class="login-frame">
  <img src="./assets/img/Logo.png" alt="DA-Bubble logo">
  <mat-card>
    <mat-card-content>
      <h1 class="c-blue">Anmeldung</h1>
      <div class="login-head">
        <span class="recommendation">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei deiner Arbeit verwendest.</span>
        <div class="input-frame">
          <mat-icon fontIcon="email"></mat-icon>
          <input type="text" placeholder="beispielname@email.com">
        </div>
        <div class="input-frame">
          <mat-icon  fontIcon="lock"></mat-icon>
          <input type="text" placeholder="Passwort">
        </div>
        <span class="forgot-password">Passwort vergessen?</span>
      </div>
      <div class="or-container">
        <div class="line"></div>
        <p>ODER</p>
        <div class="line"></div>
      </div>
      <div class="button-container">
        <button class="google-btn c-blue"> <img class="google-logo" src="./assets/img/Google.png" alt="Google logo"> Anmelden mit Google</button>
        <div class="login-btn">
          <button class="login bg-blue fz-16-fw-700">Anmelden</button>
          <button class="guest-login c-blue fz-16-fw-700"> Gäste-Login</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <span>Neu bei DABubble?</span>
  <button class="create-account c-blue fz-16-fw-700">Konto erstellen</button>
  <button class="login-nav">
    < >
  </button>
</div>