<div class="dialog-add-members-frame">
  <div class="dialog-head-frame">
    <h1 mat-dialog-title class="dialog-add-user-headline">Mitglied hinzufügen</h1>
    <img (click)="closeDialogAddMembers()" src="./assets/img/45. Close.png" alt>
  </div>
  <h2 class="c-blue">{{ selectedChannel }}</h2>
  <div mat-dialog-content>
    <span class="is-already-member" *ngIf="isAlreadyMember">Ist schon Mitglied</span>
    <div>
      <!-- <mat-form-field class="name-input" appearance="outline" class="full-width">
        <input matInput placeholder="Name eingeben">
      </mat-form-field> -->
      <button class="add-member">Hinzufügen</button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let user of usersCollection$ | async" (click)="addMember(user)">
          <button mat-menu-item><span>{{ user.name }}</span></button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>