<app-header></app-header>
<div class="main-container">
    <div class="side-bar">

    </div>
    <div class="content-box">
        <div class="content-head">
            <button>
                <p>#</p><span>Entwicklerteam</span>
                <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
            </button>
        </div>
        <div class="content-frame">

        </div>
        <div class="message-frame">
            <div class="input-frame">
                <input type="text" placeholder="Nachricht an #Entwicklerteam">
            </div>
            <div class="icon-container">
                <mat-icon fontIcon="add"></mat-icon>
            </div>


        </div>
    </div>
    <div class="thread">
        <div class="thread-head">
            <div class="thread-text">
                <span>Thread</span><p class="thread-blue c-blue"># Entwicklerteam</p>  
            </div>
            <mat-icon fontIcon="close"></mat-icon>
        </div>

    </div>
</div>