<app-header></app-header>
<div class="main-container">
  <div id="side-bar" class="side-bar">
    <app-board-sidebar></app-board-sidebar>
  </div>
  <div class="content-box">
    <app-board-content [interlocutor]="interlocutor"></app-board-content>
  </div>
  <div id="thread" class="thread-frame">
    <app-board-thread></app-board-thread>
  </div>
<div (click)="closeSideBar()" class="close-workshop-menu">
  <mat-icon id="close-x" fontIcon="close"></mat-icon>
  <mat-icon id="open-arrow" class="d-none" fontIcon="arrow_forwards_ios"></mat-icon>
  <p id="close-workspace">Workspace-Menü schließen</p>
  <p id="open-workspace" class="d-none">Workspace-Menü öffnen</p>
</div>