<div class="dialog-channel-answer-frame">
    <h1 mat-dialog-title class="dialog-add-user-headline">Gib eine Antwort</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Deine Antwort">
            </mat-form-field>
        </div>
    <div mat-dialog-action class="dialog-add-user-button-frame">
        <button class="cancel-button" mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-button (click)="saveAnswer()" cdkFocusInitial>Save</button>
    </div>
</div>

<!-- [disabled]="loading" [(ngModel)]="user.remarks"  ausgeschnitten aus Inputfield-->