<div class="dialog-add-members-frame">
  <div class="dialog-head-frame">
    <h1 mat-dialog-title class="dialog-add-user-headline">Mitglied hinzufügen</h1>
    <img (click)="closeDialogAddMembers()" src="./assets/img/45. Close.png" alt>
  </div>
  <h2 class="c-blue">{{ selectedChannel }}</h2>
  <div mat-dialog-content>
    <span class="is-already-member" *ngIf="isAlreadyMember">{{ userName }} ist schon Mitglied</span>
    <div>
      <button class="add-member" (click)="selectedMembers()" class="add-member" [matMenuTriggerFor]="menu">Hinzufügen</button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let user of usersCollection$ | async" >
          <button mat-menu-item><span>{{ user.name }}</span></button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
