html,
body {
  height: 100vh;
  background: rgb(236, 238, 254);
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
}

.bg-blue {
  background: rgb(68, 77, 242);
}

.c-blue {
  color: rgb(68, 77, 242);
}

.fz-16-fw-700 {
  font-size: 16px;
  font-weight: 700;
}

.fw-400 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.mr-16 {
  margin-right: 16px;
}

.d-none {
  display: none !important;
}

.message-content {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  .sent-message {
    display: flex;
    flex-direction: column;
    border: none;
    background: rgb(121, 126, 243);
    color: white;
    border-radius: 25px 0px 25px 25px;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: end;
    width: fit-content;
  }

  .sent-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
  }

  .avatar {
    object-fit: contain;
  }



  .date {
    font-size: 10px;
  }
}

.answer{
  margin-top: 16px;
  font-size: 10px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
  .element-sender{
    font-weight: 700;
    color: #92c83e;
  }
}
