.side-bar {
  height: 90vh;
  background: white;
  border-radius: 25px;
}

.sidebar-head {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  justify-content: space-between;
  box-shadow: 0 7px 5px -4px rgba(0, 0, 0, 0.2);
  .edit-square {
    height: 24px;
  }
  span {
    font-size: 24px;
    font-weight: 700;
  }
}

.channels-frame {
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  height: 76vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(68, 77, 242) transparent;
  &::-webkit-scrollbar-thumb {
    background-color: rgb(68, 77, 242);
    border-radius: 5px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  mat-icon {
    margin-right: 8px;
    cursor: pointer;
    &:hover {
      background-color: rgb(236, 238, 254);
      border-radius: 25px;
    }
  }
  .channels-head {
    display: flex;
  }

  .add {
    position: absolute;
    right: 16px;
  }

  .channels-headline {
    font-size: 20px;
    font-weight: 700;
    margin-top: 3px;
    margin-left: 4px;
  }
}

.arrow-drop-down,
.arrow-right {
  cursor: pointer;
  &:hover {
    color: rgb(68, 77, 242);
    transform: scale(1.2);
  }
}

.channels-body {
  margin-left: 32px;
  margin-top: 16px;
}

.channels {
  margin-top: 16px;
  width: 170px;
  padding: 16px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background: rgb(236, 238, 254);
    color: rgb(68, 77, 242);
  }
  &.active {
    background: rgb(236, 238, 254);
    color: rgb(68, 77, 242);
  }
}

.add-channel {
  display: flex;
  align-items: center;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: rgb(68, 77, 242);
  }
}

.direct-messages {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.direct-messages-frame {
  display: flex;
}

.direct-message-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  img {
    height: 48px;
    width: 48px;
  }

  span {
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
  }
  .you,
  .others {
    margin-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 25px;
    img {
      border-radius: 100%;
      object-fit: contain;
      height: 48px;
    }
    &:hover {
      background: rgb(236, 238, 254);
    }
    &.active {
      background: rgb(236, 238, 254);
    }
  }
}

.content-box {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 25px;
  margin-left: 16px;
  margin-right: 16px;
  overflow: hidden;
}

.selectedInterloctor {
  margin-left: 16px;
}

.add-channels-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(211, 211, 211, 0.516);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}

.channel-popup-head {
  display: flex;
  justify-content: space-between;
  img {
    object-fit: contain;
    cursor: pointer;
  }
}

.channel-popup-description {
  display: flex;
  align-items: center;
  gap: 4px;
  h3 {
    margin: 0;
  }
}

.channel-popup-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  button {
    cursor: pointer;
    border: none;
    padding: 12px 18px;
    background-color: #444df2;
    color: white;
    border-radius: 25px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}

h3 {
  margin: 0;
}

.popup-container {
  position: relative;
  background-color: white;
  padding: 32px;
  border-radius: 25px;
  width: 80%;
  input {
    width: 100%;
    border-radius: 25px;
    font-size: 20px;
    height: 34px;
    padding-left: 10px;
    border-color: #9747ff;
  }
  p {
    font-size: 16px;
  }
}

.input-container {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.member-container {
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    align-items: center;
    gap: 4px;
    input {
      width: 20px;
    }
  }
}

.image-frame {
  position: relative;
  img {
    border-radius: 100%;
    object-fit: contain;
    height: 48px;
  }
}

.online-indication {
  position: absolute;
  left: 32px;
  bottom: 8px;
  height: 8px;
  width: 8px;
  background: rgb(146, 200, 62);
  border: 2px solid white;
  border-radius: 50%;
}

.offline-indication {
  position: absolute;
  left: 32px;
  bottom: 8px;
  height: 8px;
  width: 8px;
  background: grey;
  border: 2px solid rgb(213, 208, 208);
  border-radius: 50%;
}
