<div *ngFor="let chat of chats$ | async">
  <div [class.sent-container]="chat.sender === loggedUser.name" [class.recieved-container]="chat.sender !== loggedUser.name">
    <div [class.sent-name-avatar]="chat.sender === loggedUser.name" [class.recieved-name-avatar]="chat.sender !== loggedUser.name">
      <div><span>{{ chat.sender }}</span>
        <div [class.sent-message]="chat.sender === loggedUser.name" [class.recieved-message]="chat.sender !== loggedUser.name">
          <span class="date">{{ chat.timeStamp * 1000 | date: 'dd.MM.yyyy HH:mm' }}</span>
          <span>{{ chat.message }}</span>
          <span class="answer" (click)="openDialogChannelAnswer()">Gib <span class="element-sender"> </span> eine Antwort</span>
        </div>
      </div>
      <img class="avatar" src={{chat.avatar}}>
    </div>
  </div>
</div>
